{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>리뷰 작성하기</title>
</head>
<body class = "container">
    <header>
        <div class="header_container">
            <div class="logo"><a href = "{% url 'posts:home' %}">my<span style="color : rgb(255, 41, 77)">Movie</span>reviews</a></div>  
            <div><a href = "{% url 'posts:create' %}">Add a New Review</a></div>  
        </div>
    </header>
    <div class="body_container">
            <form action="/create" class="form_container" method="post">
                {% csrf_token %}
                <div class="title">
                    <label for="title">제목:</label>
                    <input type="text" id="title" name="title" />
                </div>
                <div class="release_year">
                    <label for="release_year">개봉년도:</label>
                    <input type="number" id="release_year" name="release_year" />
                </div>
                <div class="genre">
                    <label for="genre">장르:</label>
                    <input type="text" id="genre" name="genre" />
                </div>
                <div class="star_rating">
                    <label for="star_rating">별점:</label>
                    <input type="text" id="star_rating" name="star_rating" />
                </div>
                <div class="running_time">
                    <label for="running_time">러닝타임:</label>
                    <input type="number" id="running_time" name="running_time" />
                </div>
                <div class="content">
                    <label for="content">리뷰:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" name="content" rows="3"></textarea>
                </div>
                <div class="director">
                    <label for="director">감독:</label>
                    <input type="text" id="director" name="director" />
                </div>
                <div class="lead_role">
                    <label for="title">배우:</label>
                    <input type="text" id="lead_role" name="lead_role" />
                </div>
                <div>
                    <input type="submit" value="Save">
                </div>
        </form>
        </div>
</body>
</html>
