*{ box-sizing: border-box;}

@font-face {
    font-family: 'LAB디지털';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.times {
    font-size: 3em;
}

h2 {
    margin-left: .3em;
}

i {
    font-size: 1.5em;
}

.stopwatch {
    width: 28em;
    padding: 2em 2em;
    background-color: rgb(185, 217, 193);
    border-radius: 1.5em;
    box-shadow: .5em .5em .5em #a0a0a0;
}

.times {
    background-color: white;
    width: 8em;
    padding: .5em 2.5em;
    border-radius: .5em;
    font-family: 'LAB디지털';
}

.times > span {
    display: inline-block;
    width: 1.3em;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.buttons>button {
    font-size: 1em;
    width: 3.2em;
    height: 3.2em;
    border: none;
    border-radius: 1.2em;
    cursor: pointer;
    box-shadow: .3em .3em .3em #a0a0a0;
}

.record {
    margin-top: 2em;
}

.recordList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em 1em;
    border-radius: 1.2em 1.2em 0 0;
}

.li__bar {
    background-color: rgb(185, 217, 193);
}

.checkButton{
    transition-duration: 0.3s;
    background-color: transparent;
    border: 2px solid black;
    width: 2em;
    height: 2em;
    border-radius: 2em;
    cursor: pointer;
}

.checkButton_yes {
    transition-duration: 0.3s;
    background-color: transparent;
    border: 2px solid black;
    background-color: black;
    width: 2em;
    height: 2em;
    border-radius: 2em;
    cursor: pointer;
}

h3 {
    font-size: 1.4em;
    font-weight:600;
    margin: 0;
}

.btn__delete {
    cursor: pointer;
    border: none;
    background-color: rgb(185, 217, 193);
}

.btn__delete:hover {
    cursor: pointer;
    border: none;
    background-color: rgb(185, 217, 193);
    transition-duration: 0.2s;
    color: rgb(255, 64, 0);
}

.hidden {
    background-color: white;
    border: none;
}